@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
.link {
  color: white;
  text-decoration: none;
  margin: 1rem;
  transition: 1s ease; }

.link:hover {
  color: #fdd7d7; }

.home-image img {
  box-shadow: rgba(143, 86, 86, 0.233) 0px 7px 29px 0px; }

.home-landing h1 {
  font-family: 'Poppins', sans-serif; }

.product-container h2 {
  font-family: 'Poppins', sans-serif; }

.product-container .img-container {
  overflow: hidden; }

.product-container img {
  transition: 1s ease; }

.card:hover img {
  transform: scale(1.1); }

.login-container {
  border: 1px solid #c9c9c9;
  padding: 2rem;
  border-radius: 10px; }
